<h2>Thank you for joining the Kendra's Covid Coaches community!</h2>

<p>You have successfully signed up with the email address <%= @user.email %></p>

<h3>For Patients:</h3>

<h3>For Coaches:</h3>


<p>Thank you for doing your part to help our communities!<br/>
  The Kendra's Covid Coaches team</p>
