<div class="container pb-8">

  <% if Settings.upcoming_events.present? %>
    <section class="resource-section" id="resources_upcoming_events">
      <div class="px-4 sm:px-0 mt-10 mb-6 font-bold text-center">
        <%= t('upcoming_events') %>
      </div>

      <%= render partial: "layouts/resource_upcoming_events" %>
    </section>
  <% end %>
</div>
