<!-- Hero -->
<div class="w-screen bg-ltgrey-500 h-auto pb-10">
  <div class="-mt-10 bg-center bg-ltgrey-500 bg-no-repeat bg-contain w-screen h-96" style="background-image: url('<%= asset_pack_path('media/images/KCC_logo_horizontal.png') %>')"></div>
</div>
<div class="bg-ltgrey-500 -mt-10 -mb-40 pt-10 pb-4 ">
  <div class="container w-2/3 text-center mb-24">
    <h2 class="sm:text-2xl font-medium tracking-tight leading-tight mt-2">
    Kendra’s COVID Coaches is a group of volunteers in Central Texas helping eligible individuals secure vaccinations. Resources for self-booking are also available!
    </h2>
    <h3 class="sm:text-3xl font-bold tracking-tight leading-tight mt-4">
    Please click <span class="sm:text-3xl text-pink-500 tracking-tight leading-tight mt-2"><%= link_to "here", about_path(anchor: 'how-it-works'), class: 'font-black' %></span> for instructions for using this platform!
    </h3>
    <h3 class="sm:text-xl tracking-tight leading-tight mt-4">
    Our web-based platform allows patients to request aid in booking vaccine appointments. Coaches will be able to review your request and assist with booking an appointment.
    </h3>
    <h3 class="sm:text-xl tracking-tight leading-tight mt-2">
    If you feel you can book your own appointment, but don't know where to start, check out the Self-Booking Resources located in the navigation menu, or click <%= link_to "here", resources_path, class: 'font-bold' %>.
    </h3>
    <h3 class="sm:text-xl font-medium tracking-tight leading-tight mt-2">
    We’re happy you found your way to us! 
    </h3>

    <div class="text-gray-900 mt-4">
      We are <%= number_with_delimiter round_number_to_closest(@request_count_total, 50) %>+ requests strong.
    </div>
  </div>
  </div>
</div>
  

