<!-- Hero -->
<div class="w-screen bg-ltgrey-500 h-auto pb-10">
  <div class="-mt-10 bg-center bg-ltgrey-500 bg-no-repeat bg-contain w-screen h-96" style="background-image: url('<%= asset_pack_path('media/images/KCC_logo_horizontal.png') %>')"></div>
</div>
<div class="bg-ltgrey-500 -mt-10 -mb-40 pt-10 pb-4 ">
  <div class="container w-2/3 text-center mb-24">
    <h2 class="sm:text-xl tracking-tight leading-tight mt-2">
    We are a group of volunteers dedicated to helping find Covid-19 vaccination appointments for those in need. Resources for self-booking are also available!
    </h2>
    <h3 class="sm:text-xl tracking-tight leading-tight mt-2">
    Our web-based platform allows patients to request aid in booking vaccine appointments. Coaches will be able to review your request and assist with booking an appointment. Instructions <%= link_to "here", about_path(anchor: 'how-it-works'), class: 'font-bold' %>.
    </h3>
    <h3 class="sm:text-xl tracking-tight leading-tight mt-2">
    If you feel you can book your own appointment, but don't know where to start, check out the Self-Booking Resources located in the navigation menu, or click <%= link_to "here", resources_path, class: 'font-bold' %>.
    </h3>
    <h3 class="sm:text-xl tracking-tight leading-tight mt-2">
    We look forward to helping you and all communities in the central Texas area!
    </h3>

    <div class="text-gray-900 mt-4">
      We are <%= number_with_delimiter round_number_to_closest(@request_count_total, 50) %>+ requests strong.
    </div>
  </div>
  </div>
</div>
  

