<h2>Request Canceled</h2>
<h4>Please do not reply to this email.</h4>

<p>You have canceled your request for <%= @appointment.name %> from your KCC account <%= @user.email %>.</p>

<p>If this was an error, click <%= link_to 'here', @appointment %> to go to the appointment page and make your request again.</p>

<p>Thank you! <br/>
The Kendra's Covid Coaches team</p>
