<div class="text-center">
  <% if current_user.blank? %>
      <%= link_to new_user_registration_path do %>
        <button type="button" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-50 active:text-gray-800">
          <svg class="-ml-1 mr-2 h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"/>
          </svg>
          <span>
            <%= t('sign_up_to_patient') %>
          </span>
        </button>
      <% end %>
  <% else %>
    <% if current_user.requested_for_appointment?(@request) %>
      <% if @request.status == 'Unbooked' %>
        <% status_class = "w-full h-9 px-4 py-2 border border-transparent text-2xl leading-5 font-bold text-white bg-red-600 hover:bg-red-500 focus:outline-none focus:shadow-outline-red focus:border-red-700 active:bg-red-700"%>
      <% elsif @request.status == 'Booking in progress' %>
        <% status_class = "w-full px-4 py-2 border border-transparent text-2xl leading-5 font-bold text-white bg-orange-400 hover:bg-orange-300 focus:outline-none focus:shadow-outline-orange focus:border-orange-400 active:bg-orange-300"%>
      <% elsif @request.status == 'Booking completed, awaiting patient confirmation' %>
        <% status_class = "w-full px-4 py-2 border border-transparent text-2xl leading-5 font-bold text-white bg-yellow-300 hover:bg-yellow-400 focus:outline-none focus:shadow-outline-yellow focus:border-yellow-300 active:bg-yellow-300"%>
      <% elsif @request.status == 'Patient Confirmed' %>
        <% status_class = "w-full px-4 py-2 border border-transparent text-2xl leading-5 font-bold text-white bg-blue-600 hover:bg-blue-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-700 active:bg-blue-700"%>
      <% elsif @request.status == 'Completed' %>
        <% status_class = "w-full px-4 py-2 border border-transparent text-2xl leading-5 font-bold text-white bg-green-900 hover:bg-green-800 focus:outline-none focus:shadow-outline-green focus:border-green-800 active:bg-green-800"%>
      <% end %>
        <div class="<%= status_class %>">
          <span class="self-center">
            <%= @request.status %>
          </span>
        </div>
    <% end %>
  <% end %>
</div>
