<div class="container">
  <div class="bg-white px-4 py-2 border-b border-gray-200 sm:px-6">
    <% if @appointment.errors.any? %>
      <% @appointment.errors.full_messages.each do |message|%>
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <strong class="font-bold"><%= message %></strong>
        </div>
      <%end%>
    <%end%>
  <br/>
    <%= form_for @appointment do |f| %>
      <%= render partial: 'appointment_form', locals: {f: f, title: t('create_new_appointment'), cta: t('create_appointment')} %>
    <% end %>
  </div>
</div>